# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/proyecto/v15/Browse.VC.opendb
.vs/proyecto/v15/ipch/AutoPCH/fdce0224fe9df67c/OBJETO.ipch
.vs/proyecto/v15/ipch/AutoPCH/fdadc9b715601d08/MAINSCENE.ipch
.vs/proyecto/v15/ipch/AutoPCH/fd6063427c98b60/MAPA.ipch
.vs/proyecto/v15/ipch/AutoPCH/f981a2ec8a09f32a/SOURCE.ipch
.vs/proyecto/v15/ipch/AutoPCH/f15adc28a2e3991c/SHADER.ipch
.vs/proyecto/v15/ipch/AutoPCH/da8ce2bbcd39bb38/AI_PATO.ipch
.vs/proyecto/v15/ipch/AutoPCH/d815d27cb7ec959b/ENGINE.ipch
.vs/proyecto/v15/ipch/AutoPCH/9599f5ac851069f2/SCENEMANAGER.ipch
.vs/proyecto/v15/ipch/AutoPCH/9534e4ece91cda43/ENGINE.ipch
.vs/proyecto/v15/ipch/AutoPCH/8ed96f0453aaf43/ENGINE.ipch
.vs/proyecto/v15/ipch/AutoPCH/83b45fc1d9cc8f40/MAINSCENE.ipch
.vs/proyecto/v15/ipch/AutoPCH/7e6fb277753a661b/SCENE.ipch
.vs/proyecto/v15/ipch/AutoPCH/75f63de13d3b0cb0/OBJECT.ipch
.vs/proyecto/v15/ipch/AutoPCH/75491b6b25408de8/SHADERPROGRAM.ipch
.vs/proyecto/v15/ipch/AutoPCH/751188f586518168/MESHOB.ipch
.vs/proyecto/v15/ipch/AutoPCH/6b0d41c6aa218a80/AI_PATO.ipch
.vs/proyecto/v15/ipch/AutoPCH/699f6fe712c182af/SCENEMANAGER.ipch
.vs/proyecto/v15/ipch/AutoPCH/6918640ece4b0418/AI_PATO.ipch
.vs/proyecto/v15/ipch/AutoPCH/6714507a8657089a/AI_PATO.ipch
.vs/proyecto/v15/ipch/AutoPCH/5bcdac3cdc42c8ba/VERTEXFORMAT.ipch
.vs/proyecto/v15/ipch/AutoPCH/5a4e82a8bdcc233b/ENGINE.ipch
.vs/proyecto/v15/ipch/AutoPCH/524ee5fbc73a75b0/GAMEMODELS.ipch
.vs/proyecto/v15/ipch/AutoPCH/4da4f475bd854b40/SOURCE.ipch
.vs/proyecto/v15/ipch/AutoPCH/d40f127290010044/SHADER.ipch
.vs/proyecto/v15/ipch/AutoPCH/d24c60631a873d58/SOURCE.ipch
.vs/proyecto/v15/ipch/AutoPCH/d04b04b7d3e43c00/AI_PATO.ipch
.vs/proyecto/v15/ipch/AutoPCH/cbf53e6a110a23bf/MAINSCENE.ipch
.vs/proyecto/v15/ipch/AutoPCH/c69cc014b7a2860/AI_PATO2.ipch
.vs/proyecto/v15/ipch/AutoPCH/c33a8a18039abe4/OBJETO.ipch
.vs/proyecto/v15/ipch/AutoPCH/c25ba41a3773e88e/OBJETO.ipch
.vs/proyecto/v15/ipch/AutoPCH/bdb1c2d2f5755599/AI_PATO3.ipch
.vs/proyecto/v15/ipch/AutoPCH/bc95b1a6c19b24f7/AI_PATO.ipch
.vs/proyecto/v15/ipch/AutoPCH/b9b3466d491d5e0a/APPLICATION.ipch
.vs/proyecto/v15/ipch/AutoPCH/b18053a0ca6c9395/MESHMATERIAL.ipch
.vs/proyecto/v15/ipch/AutoPCH/b179e6c545a74338/SETUP.ipch
.vs/proyecto/v15/ipch/AutoPCH/a8bf0046cf68d664/OBJETO.ipch
.vs/proyecto/v15/ipch/AutoPCH/a578ee959469d9c3/ENGINE.ipch
.vs/proyecto/v15/ipch/AutoPCH/a4112e495330bf9b/SCENE.ipch
.vs/proyecto/v15/ipch/AutoPCH/a3a529df2efc24cb/MESHOB.ipch
.vs/proyecto/v15/ipch/AutoPCH/428f38a6d33d0db2/AI_PATO2.ipch
.vs/proyecto/v15/ipch/AutoPCH/4122906f748d08bc/ENGINE.ipch
.vs/proyecto/v15/ipch/AutoPCH/3e8a6dd3930e72c0/MAINSCENE.ipch
.vs/proyecto/v15/ipch/AutoPCH/3de38c820c707294/ENGINE.ipch
.vs/proyecto/v15/ipch/AutoPCH/3d60eacd12384bc0/SOURCE.ipch
.vs/proyecto/v15/ipch/AutoPCH/377dbf524237efac/CAMERA.ipch
.vs/proyecto/v15/ipch/AutoPCH/2ca8d1bd5e329d68/MAINSCENE.ipch
.vs/proyecto/v15/ipch/AutoPCH/206d35545f474d48/SCENEMANAGER.ipch
.vs/proyecto/v15/ipch/AutoPCH/1ca5f927983359b7/MAINSCENE.ipch
.vs/proyecto/v15/ipch/AutoPCH/17f488747e26a5c8/SCENEMANAGER.ipch
.vs/proyecto/v15/ipch/AutoPCH/17500f749a70b36/SOURCE.ipch
.vs/proyecto/v15/ipch/AutoPCH/11287fc33c430649/ENGINE.ipch
.vs/proyecto/v15/ipch/AutoPCH/9cb299dc656c7aea/MAINSCENE.ipch
.vs/proyecto/v15/ipch/AutoPCH/9c072cb489d52482/SHADERPROGRAM.ipch
.vs/proyecto/v15/ipch/AutoPCH/9af267acf308c52c/CAMERA.ipch
.vs/proyecto/v15/ipch/AutoPCH/96cd6d2ff146e47f/MESHMATERIAL.ipch
.vs/proyecto/v15/ipch/AutoPCH/4d9a73240e54f615/MESHMATERIAL.ipch
.vs/proyecto/v15/ipch/AutoPCH/45fb8c06f42efc40/MAINSCENE.ipch
